<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Wedlock Register Form Flat Responsive Widget Template :: w3layouts</title>
<!-- metatags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="wedlock register form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
<!--// css -->
<link href="//fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
</head>
<body>
	<section class="agile-header">
		<div class="agile-heading">
			<h1><span class="image"></span><label>w</label>ed<label>l</label>ock register form</h1>
		</div>
		<div class="agile-form">
			<form action="/insertdata" method="post">{% csrf_token %}
				<div class="agile-email">
					<p>email-address</p>
					<input type="email" name="email address" placeholder="email-address" required="">
				</div>
				<div class="agile-password">
					<p>password</p>
					<input type="password" name="password" placeholder="password" required="">
				</div>
				<div class="agile-password">
					<p>re enter password</p>
					<input type="password" name="repassword" placeholder="retype password" required="">
				</div>
				<div class="agile-profile">
					<p>profile seeking for</p>
					<select name="userprofileseekingfor">
					<option value="" label="Select" selected="selected">Select</option>
					<option value="self">self</option>
					<option value="son">son</option>
					<option value="daughter">daughter</option>
					<option value="brother">brother</option>
					<option value="sister">sister</option>
					<option value="friend">friend</option>
					<option value="relative">relative</option>
					</select>
				</div>
				<div class="agile-fname">
					<p>first name</p>
					<input type="text" name="userfname" placeholder="first name">
				</div>
				<div class="agile-lname">
					<p>last name</p>
					<input type="text" name="userlastname" placeholder="last name">
				</div>
				<div class="clear"></div>
				<div class="agile-gender">
					<p>gender</p>
					<div class="agile-mgender">
						<input type="radio" name="gender" value="male">
						<span>male</span>
					</div>
					<div class="agile-fgender">
						<input type="radio" name="gender" value="female">
						<span>female</span>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="agile-religion">
					<p> religion</p>
					<select name="userreligion">
						<option value="" label="Select" selected="selected">Select</option>
						<option value="hindu"> Hindu</option>
						<option value="muslim">Muslim </option>
						<option value="christian">Christian</option>
						<option value="sikh">Sikh</option>
						<option value="parsi">Parsi</option>
						<option value="jain">Jain</option>
						<option value="budhhist">Buddhist</option>
						<option value="jewish">Jewish</option>
						<option value="religion">No Religion</option>
						<option value="spiritual">Spiritual</option>
						<option value="other">Other</option>
					</select>
				</div>
				<div class="agile-tongue">
					<p> mother tongue</p>
					<select name="usermothertongue">
							<option value="" label="Select" selected="selected">Select</option>
							<option>Tamil</option>
							<option>Telugu</option>
							<option value="assamese">Assamese</option>
							<option value="bengali">Bengali</option>
							<option value="english">English</option>
							<option value="gujarati">Gujarati</option>
							<option value="hindi">Hindi</option>
							<option value="urdu">Urdu</option>
							<option value="kannada">Kannada</option>
							<option value="konkani">Konkani</option>
							<option value="malayalam">Malayalam</option>
							<option value="marathi">Marathi</option>
							<option value="marwari">Marwari</option>
							<option value="odia">Odia</option>
							<option value="punjabi">Punjabi</option>
							<option value="sindhi">Sindhi</option>
						
						</select>
				</div>
				<div class="agile-submit">
					<input type="submit" value="register">
				</div>
			</form>
		</div>
		<div class="clear"></div>
		 <footer>
			&copy;2018 Wedlock Register Form. All Rights Reserved | Design by <a href="http://www.w3layouts.com" target="blank">w3layouts</a>
		  </footer>
		
	</section>

</body>
</html>